<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>GoBus</title>
</head>
<body>
    <header>
        <h1>GoBus</h1>
    </header>
    <main>
        <section class="cards">
            <div class="card">
                <h2>Paradas Saída</h2>
                <ul>
                    {% for paradas in saida %}
                        <li>{{ paradas }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="card">
                <h2>Paradas Retorno</h2>
                <ul>
                    {% for paradas in retorno %}
                        <li>{{ paradas }}</li>
                    {% endfor %}
                </ul>
        </section>
        <section class="map">
            {{ mapa|safe }}
        </section>
    </main>
    <footer>
        <p>GoBus, &copy; 2024</p>
    </footer>
</body>
</html>